.login {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.lContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}
.lInput {
  padding: 5px;
}
.lButton {
  margin-top: 5px;
  padding: 7px;
  background-color: #0072c2;
  color: white;
  border: none;
  border-radius: 2px;
}
