.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}
.nav-container {
  width: 100%;
  max-width: 1024px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 500;
}
.nav-button {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  color: #003580;
  /* border-radius: 5px; */
}
